.dcms-doc-comment-container {
    background-color: #000000;
    border: 3px double #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    overflow: auto;
}

.dcms-doc-comment {
    line-height: 1.5;
    color: #1f70ff;
}
