/**
Only the following properties should be defined in this stylesheet:

- animation
- animation-delay
- animation-direction
- animation-duration
- animation-fill-mode
- animation-iteration-count
- animation-name
- animation-play-state
- animation-timing-function
- transition
- transition-delay
- transition-duration
- transition-property
- transition-timing-function
*/

.clear-animation {
    animation: none;
}

.dcms-loader {
    -webkit-animation: spin 2s ease infinite;
    animation: spin 2s ease infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dcms-admin-panel-pos1 {
    -webkit-animation: easeInAdminPanel 0.5s linear 1;
    -moz-animation: easeInAdminPanel 0.5s linear 1;
    animation: easeInAdminPanel 0.5s linear 1;
}

.dcms-admin-panel-pos4 {
    -webkit-animation: easeInAdminPanel 1s linear 1;
    -moz-animation: easeInAdminPanel 1s linear 1;
    animation: easeInAdminPanel 1s ease 1;
}

.dcms-admin-panel-pos2 {
    -webkit-animation: easeInAdminPanel 1.5s linear 1;
    -moz-animation: easeInAdminPanel 1.5s linear 1;
    animation: easeInAdminPanel 1.5s linear 1;
}

.dcms-admin-panel-pos3 {
    -webkit-animation: easeInAdminPanel 2s linear 1;
    -moz-animation: easeInAdminPanel 2s linear 1;
    animation: easeInAdminPanel 2s ease 1;
}

.dcms-solo-admin-panel {
    animation: 5s easeInSoloAdminPanel ease 1;
}

/**
 * This class can be used to apply the slowest supported fade in effect to the elements it is assigned to.
 */
.dcms-ease-in-opacity-slowest {
    -webkit-animation: easeInAdminPanel 4.2s linear 1;
    -moz-animation: easeInAdminPanel 4.2s linear 1;
    animation: easeInAdminPanel 4.2s ease 1;
}

/**
 * This class can be used to apply a slow fade in effect to the elements it is assigned to.
 */
.dcms-ease-in-opacity-slow {
    -webkit-animation: easeInAdminPanel 3.2s linear 1;
    -moz-animation: easeInAdminPanel 3.2s linear 1;
    animation: easeInAdminPanel 3.2s ease 1;
}

/**
 * This class can be used to apply a moderate fade in effect to the elements it is assigned to.
 */
.dcms-ease-in-opacity-moderate {
    -webkit-animation: easeInAdminPanel 1.9s linear 1;
    -moz-animation: easeInAdminPanel 1.9s linear 1;
    animation: easeInAdminPanel 1.9s ease 1;
}

/**
 * This class can be used to apply a fast fade in effect to the elements it is assigned to.
 */
.dcms-ease-in-opacity-fast {
    -webkit-animation: easeInAdminPanel .9s linear 1;
    -moz-animation: easeInAdminPanel .9s linear 1;
    animation: easeInAdminPanel .9s ease 1;
}

/**
 * This class can be used to apply a fastest supported fade in effect to the elements it is assigned to.
 */
.dcms-ease-in-opacity-fastest {
    -webkit-animation: easeInAdminPanel .3s linear 1;
    -moz-animation: easeInAdminPanel .3s linear 1;
    animation: easeInAdminPanel .3s ease 1;
}

@-webkit-keyframes easeInAdminPanel {
    0% {
        opacity: 0;
    }

    47% {
        opacity: 0;
    }
    66% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes easeInAdminPanel {
    0% {
        opacity: 0;
    }

    47% {
        opacity: 0;
    }
    66% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes easeInAdminPanel {
    0% {
        opacity: 0;
    }

    47% {
        opacity: 0;
    }
    66% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes easeInSoloAdminPanel {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 98%;
        opacity: .97;
    }
}
