/**
Only the following properties should be defined in this stylesheet:

- animation
- animation-delay
- animation-direction
- animation-duration
- animation-fill-mode
- animation-iteration-count
- animation-name
- animation-play-state
- animation-timing-function
- transition
- transition-delay
- transition-duration
- transition-property
- transition-timing-function
*/

.clear-animation {
    animation: none;
}

.dcms-loader {
    -webkit-animation: spin 2s ease infinite;
    animation: spin 2s ease infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dcms-admin-panel-pos1 {
    -webkit-animation: easeInAdminPanel 0.5s linear 1;
    -moz-animation: easeInAdminPanel 0.5s linear 1;
    animation: easeInAdminPanel 0.5s linear 1;
}

.dcms-admin-panel-pos4 {
    -webkit-animation: easeInAdminPanel 1s linear 1;
    -moz-animation: easeInAdminPanel 1s linear 1;
    animation: easeInAdminPanel 1s ease 1;
}

.dcms-admin-panel-pos2 {
    -webkit-animation: easeInAdminPanel 1.5s linear 1;
    -moz-animation: easeInAdminPanel 1.5s linear 1;
    animation: easeInAdminPanel 1.5s linear 1;
}

.dcms-admin-panel-pos3 {
    -webkit-animation: easeInAdminPanel 2s linear 1;
    -moz-animation: easeInAdminPanel 2s linear 1;
    animation: easeInAdminPanel 2s ease 1;
}

.dcms-solo-admin-panel {
    animation: 5s easeInSoloAdminPanel ease 1;
}

@-webkit-keyframes easeInAdminPanel {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }
    87% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.97;
    }
}

@-moz-keyframes easeInAdminPanel {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }
    87% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.97;
    }
}

@keyframes easeInAdminPanel {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }
    87% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.97;
    }
}

@keyframes easeInSoloAdminPanel {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 98%;
        opacity: .97;
    }
}
