/**
Only the following properties should be defined in this stylesheet:

- border
- border-bottom
- border-bottom-color
- border-bottom-left-radius
- border-bottom-right-radius
- border-bottom-style
- border-bottom-width
- border-collapse
- border-color
- border-image
- border-image-outset
- border-image-repeat
- border-image-slice
- border-image-source
- border-image-width
- border-left
- border-left-color
- border-left-style
- border-left-width
- border-radius
- border-right
- border-right-color
- border-right-style
- border-right-width
- border-spacing
- border-style
- border-top
- border-top-color
- border-top-left-radius
- border-top-right-radius
- border-top-style
- border-top-width
- border-width
*/

.dcms-admin-panel, .dcms-drag-handle {
    border: 2px solid #788598;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/**
 * Debug styles.
 */
.xdebug-var-dump {
    border: 3px dashed #a8ff83;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.dcms-input-text, .dcms-input-textarea, .dcms-input-submit {
    border-radius: 20px;
    border: 2px double #788598;
}

.dcms-link, .dcms-button, .dcms-select {
    border-radius: 20px;
    border: 2px double #788598;
}

.dcms-link:hover, .dcms-button:hover {
    border: 2px solid #ffffff;
}

.dcms-link a {
}

.dcms-link a:link {
}

.dcms-link a:visited {
}

.dcms-link a:hover {
}

.dcms-link a:active {
}

.dcms-loader {
    /* MORE MELLOW:
    border: 6px double lime;
    border-radius: 21%;
    border-top: 6px double #202021;
    border-right: 6px double limegreen;
    border-bottom: 6px double #303030;
    */
    /* LESS MELLOW *
    border: 46px double lime;
    border-radius: 21%;
    border-top: 6px double aqua;
    border-right: 4px double limegreen;
    border-bottom: 6px double orange;
    */
    /* new */
    border: 3px double #18623b;
    border-radius: 72%;
    border-top: 3px double #185a33;
    border-right: 3px double #123e2e;
    border-bottom: 3px double #11372a;
}

.dcms-app-region {
    /*border: 3px double red;
    min-height: 50px;*/
}
