/**
Only the following properties should be defined in this stylesheet:

- height
- width
- margin
- margin-bottom
- margin-left
- margin-right
- margin-top
- padding
- padding-bottom
- padding-left
- padding-right
- padding-top
- max-height
- max-width
- min-height
- min-width
*/

.dcms-admin-panel {
    padding: 20px;
}

.dcms-drag-handle {
    width: 100%;
    padding: 3px;
    margin: 10px auto;
}

@media only screen and (min-width: 960px) {
    .dcms-admin-panel {
        width: 100%;
    }
}

@media only screen and (min-width: 960px) {
    .dcms-admin-panel {
        height: 33.3333%;
        width: 33.3333%;
    }

    .dcms-admin-panel-pos1 {
        width: 63.62%;
        height: 385px; /* 42% */
    }

    .dcms-admin-panel-pos2 {
        width: 63.62%;
        height: 38%;
    }

    .dcms-admin-panel-pos3 {
        width: 36%;
        height: 385px; /* 42% */
    }

    .dcms-admin-panel-pos4 {
        width: 36%;
        height: 38%;
    }
}

/**
 * Debug styles.
 */
.xdebug-var-dump {
    padding: 20px;
    margin: 20px auto;
}

.dcms-input-submit {
    padding: 9px;
}

.dcms-input-text, .dcms-input-textarea, .dcms-input-submit {
    padding: 5px 15px;
    margin-bottom: 10px;
}

/*
@devNote :
Remember that the link style definition order MUST be as follows:
  :link,
  :visited
  :hover,
  :active,

@see https://www.w3schools.com/css/tryit.asp?filename=trycss_link for further information. */
.dcms-link, .dcms-button, .dcms-select {
    padding: 5px 27px;
}

.dcms-link, .dcms-button, .dcms-select, .dcms-link a, .dcms-link a:link, .dcms-link a:visited, .dcms-link a:hover, .dcms-link a:active {
    min-width: 34%;
}

.dcms-link a {
}

.dcms-link a:link {

}

.dcms-link a:visited {
}

.dcms-link a:hover {
}

.dcms-link a:active {
}

.dcms-loader {
    /*
    MORE MELLOW
    width: 120px;
    height: 120px;
    */
    /* LESS MELLOW *
    width: 40px;
    height: 22px;
    */
    /* new */
    width: 62px;
    height: 62px;
}

.dcms-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.dcms-table {
    padding: 5px;
}

.dcms-table-row {
    padding: 10px;
}

.dcms-table-cell {
    padding: 20px;
}

.dcms-table-cell-no-wrap tr td:last-child {
    width: 1%;
}
