/**
Only the following properties should be defined in this stylesheet:

- color
- direction
- font
- @font-face
- font-family
- font-kerning
- font-size
- font-size-adjust
- font-stretch
- font-style
- font-variant
- font-weight
- text-align
- text-align-last
- text-decoration
- text-decoration-color
- text-decoration-line
- text-decoration-style
- text-indent
- text-justify
- text-overflow
- text-shadow
- text-transform
- hyphens
- letter-spacing
- line-height
- quotes
- tab-size
- white-space
- unicode-bidi
- word-break
- word-spacing
- word-wrap
- writing-mode
*/

/* Imported Fonts (i.e., @font-face ...) */

/*
@font-face {
    font-family: NAME;
    src: url(URL);
}
 */

@font-face {
    font-family: arsenal;
    src: url("fonts/arsenal/Arsenal-Regular.otf");
}

@font-face {
    font-family: arsenalBold;
    src: url("fonts/arsenal/Arsenal-Bold.otf");
}

@font-face {
    font-family: arsenalBoldItalic;
    src: url("fonts/arsenal/Arsenal-BoldItalic.otf");
}

@font-face {
    font-family: arsenalItalic;
    src: url("fonts/arsenal/Arsenal-Italic.otf");
}

@font-face {
    font-family: gameshow;
    src: url("fonts/gameshow/Gameshow.ttf");
}

@font-face {
    font-family: cubicCoreMono; /* THIS FONT IS AWESOME!!! */
    src: url("fonts/cubic-core-mono/CubicCoreMono.ttf");
}

@font-face {
    font-family: minimal; /* This font is very chill. */
    src: url("fonts/minimal/Minimal.ttf");
}

@font-face {
    font-family: QuirkyRobot; /* This font is very chill. */
    src: url("fonts/QuirkyRobot/QuirkyRobot.ttf");
}

@font-face {
    font-family: RoundedElegance; /* This font is very chill. */
    src: url("fonts/Rounded Elegance/Rounded Elegance.ttf");
}

@font-face {
    font-family: DancingScript; /* This font is very chill. */
    src: url("fonts/dancing-script-ot/DancingScript-Regular.otf");
}

/* End Imported Fonts */
html {
    font-size: 10px;
    letter-spacing: 3px;
}

body {
    font-size: 2em;
    color: #9dc0cc;
}

@media only screen and (max-width: 959px) {
    body {
        font-size: 2.42em;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: QuirkyRobot, monospace;
}

.dcms-admin-panel {
    color: #ffffff;
    font-family: minimal, monospace;
}

.dcms-drag-handle {
    font-family: minimal, monospace;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px #41617b;
    font-size: 1.2em;
}

/*
Note: a:hover MUST come after a:link and a:visited in the CSS definition in order to be effective! a:active MUST come after a:hover in the CSS definition in order to be effective! Pseudo-class names are not case-sensitive.
 */

a, a:link {
    font-family: arsenal, monospace;
    font-size: 2em;
    text-decoration: none;
    color: #445752;
}

a:visited {

}

a:hover {
    color: #dedede;
}

a:active {
    color: #ffffff;
}

/**
 * Debug styles.
 */
.xdebug-var-dump {
    color: #ffffff;
    font-size: 1.35em;
}

.dcms-positive-text {
    color: #61ffb0;
}

.dcms-negative-text {
    color: #c2282b;
}

.dcms-descriptive-text-highlight {
    color: #1f70ff;
}

.dcms-warning-text {
    color: #f54f00;
}

.dcms-input-text, .dcms-input-textarea, .dcms-input-submit {
    color: #0b151d;
    height: 40px;
    font-size: 1em;
}

.dcms-link, .dcms-button, .dcms-select {
    color: #c9e6f0;
    font-size: 1em;
    font-family: RoundedElegance, monospace;
}

.dcms-link:hover, .dcms-button:hover {
    color: #c9e6f0;
    text-shadow: 2px 2px #41617b;
}

.dcms-link a {
}

.dcms-link a:link {
}

.dcms-link a:visited {
}

.dcms-link a:hover {
}

.dcms-link a:active {
}

.dcms-table-cell-no-wrap {
    white-space: nowrap;
}
