#AdminPanel {
    background: #0b151d;
    border-top: 3px solid #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 42px;
    z-index: 1000;
}

body {
    padding-bottom: 20px;
}

#AdminPanel a, #AdminPanel a:link, #AdminPanel button {
    background: #040e21;
    color: #c9e6f0;
    border-radius: 20px;
    padding: 5px 27px;
    border: 2px double #788598;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}
