
#AppManager {
    min-width: 27%;
}
.am-view-links-container {
    background: #040e21;
    border: 2px double #788598;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    position: sticky;
    top: 96%;
    left: 0;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 3px;
    z-index: 5000;
    text-align: center;
    font-size: 0.7em;
}

.am-toolbar-container {
    position: sticky;
    top: 11%;
    background: #000000;
    opacity: .57;
    padding: 20px;
    z-index: 2;
}

.am-view-links-container a, .am-view-links-container a:link, #AppManager select, #AppManager input[type=text], #AppManager input[type=submit], #AppManager textarea {
    background: #040e21;
    color: #c9e6f0;
    border-radius: 20px;
    padding: 5px 27px;
    border: 2px double #788598;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

.am-view-links-container a, .am-view-links-container a:link, #AppManager select, #AppManager input[type=submit] {
    cursor: pointer;
}

.am-view-links-container a:hover {
    color: #c9e6f0;
    text-shadow: 2px 2px #41617b;
    border: 2px solid #ffffff;
    background: #051127;
}

#AppManager select {
    position: relative;
    float: left;
    width: 87px;
    margin-top: -57px;
    margin-left: 83%;
}

.am-app-logo-img {
    border: 3px solid #788598;
    border-radius: 50%;
    margin-right: 20px;
}

.am-appInfo-container {
    border-bottom: 2px double #788598;

}
